@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 43, 34, 20;
  --background-start-rgb: 249, 246, 240;
  --background-end-rgb: 249, 246, 240;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
